.searchForm {
    margin-top: 5vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: aqua;
}

.searchForm_dates {
    display: flex;
}
.searchForm_misc {
    display: flex;
    flex-direction: row;
}
.searchForm_misc-people {
    flex-direction: column;
    display: flex;
    width: 50%;
}
.searchForm_misc-flight {
    flex-direction: column;
    display: flex;
    width: 50%;

}


